.dashboard-container {
    font-family: sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.dashboard-header {
    position: relative;
    max-height: 100px;
    box-shadow: 0px 1px 1px #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #fff;
}
.dashboard-header__logo {
    flex: 0 0 0;
    max-width: 0;
    overflow: hidden;
}
.dashboard-header__logo.is-opened {
    flex: 0 0 160px;
    max-width: 160px;
    transition-delay: 0.4s;
}
.dashboard-header__logo-link {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.dashboard-header__nav {
    flex: 0 0 100%;
    max-width: 100%;
}
.dashboard-header__nav, .dashboard-header__nav-left, .dashboard-header__nav-left .header-nav, .dashboard-header__nav-right .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-header .header-nav li:first-child .header-nav-item {
    border-left: 1px solid #eee;
}
.dashboard-header .header-nav-item {
    border-right: 1px solid #eee;
    padding: 15px 15px;
    margin: -15px 0 -15px 0;
    color: #333;
    font-size: 0.9rem;
    cursor: pointer;
}
.dashboard-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 45px;
    width: 210px;
}
.dashboard-sidebar.is-opened {
    width: 206px;
}
.dashboard-sidebar .sidebar-nav__item .svg-icon {
    width: 20px;
    height: 17px;
    margin-right: 9px;
}
.dashboard-sidebar .sidebar-nav__item .truncate {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 8px;
}
.dashboard-sidebar .sidebar-nav__item a {
    border-left: 2px solid #2A3F54;
    display: block;
}
.dashboard-sidebar .sidebar-nav__item a.active {
    border-left: 2px solid #fff;
}

.dashboard-sidebar .sidebar-nav .el-menu {
    height: 100%;
}

.content-wrapper {
    margin-left: 210px;
}
.content-wrapper.is-opened {
    margin-left: 206px;
    transition-delay: 0.4s;
}
.content-wrapper__inner {
    padding: 15px;
}
