.form-dialog .el-dialog__header {
    border-bottom: 1px solid #969696;
    padding: 16px 19px 13px 19px;
}
.form-dialog .el-dialog__title {
    text-transform: uppercase;
    font-size: 0.9rem;
}
.form-dialog .el-form-item__label {
    line-height: 19px;
    text-transform: uppercase;
    font-size: 0.8rem;
}
