.auth-workspace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.auth-workspace__header {
    text-align: center;
}

.auth-workspace .auth-inner {
    width: 400px;
}

.auth-workspace__body {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px 0;
}
