<template>
    <div class="table-wrapper">
        <table-panel
            title-table="USERS"
            title-button="ADD USER"
            @onClick="openModal"
        >

            <template slot="tools">
                <el-button>PDF</el-button>
                <el-button>EXCEL</el-button>
            </template>

            <template slot="search">
                <el-form @submit.native.prevent="handleSearch">
                    <el-input v-model="table.listQuery.search" placeholder="Search ..."></el-input>
                </el-form>
            </template>

            <template slot="main">
                <hr style="border-color: #F5F7FA;">
                <el-table v-loading="table.loading" :data="table.list" border stripe>
                    <el-table-column align="center" header-align="center" label="STT" type="index" width="50"></el-table-column>
                    <el-table-column label="Name">
                        <template slot-scope="{ row }">
                            <div class="title">{{ row.name }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Email" width="300">
                        <template slot-scope="{ row }">
                            <div class="title">{{ row.email }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" header-align="center" label="Role" width="120">
                        <template slot-scope="{ row }">
                            <div class="title">{{ row.role_name ? row.role_name: '' }}</div>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" header-align="center" label="Actions" width="150">
                        <template slot-scope="{ row }">
                            <el-button type="danger" size="mini" icon="el-icon-delete" @click="handleDelete(row.id)"></el-button>
                            <el-button type="primary" size="mini" icon="el-icon-refresh" @click="handleUpdate(row.id)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
            <template slot="footer">
                <pagination
                    v-if="table.total > 0"
                    :total="table.total"
                    :page.sync="table.listQuery.page"
                    :limit.sync="table.listQuery.limit"
                    @pagination="getList"
                />
            </template>
        </table-panel>
        <form-user
            v-if="dialogVisible"
            :is-opened="dialogVisible"
            :target-id="targetId"
            @onSuccess="handleSuccess"
            @onClose="dialogVisible = false"
            @onOpen="dialogVisible = true"
        />
    </div>
</template>

<script>
import TablePanel from '@/components/TablePanel';
import Pagination from '@/components/Pagination';
import UserResource from '@/http/api/v1/user';
import FormUser from './components/Form';

const userResource = new UserResource();

export default {
    name: 'UserIndex',
    components: {
        TablePanel,
        Pagination,
        FormUser,
    },
    layout: 'admin',
    // middleware: 'auth',
    data: () => ({
        table: {
            listQuery: {
                search: '',
                limit: 10,
                page: 1,
            },
            list: [],
            loading: false,
            total: 0,
        },
        targetId: null,
        dialogVisible: false,
    }),
    created() {
        const { user_id } = this.$route.query;
        if (user_id) {
            this.targetId = +user_id;
            this.dialogVisible = true;
        }
        this.getList();
    },
    methods: {
        async getList() {
            this.table.loading = true;
            try {
                const { data: { data, count }} = await userResource.list(this.table.listQuery);
                this.table.list = data;
                this.table.total = count;
                this.table.loading = false;
            } catch (error) {
                this.table.loading = false;
            }
        },
        openModal() {
            this.dialogVisible = true;
        },
        handleUpdate(id){
            const { user_id } = this.$route.query;
            if (+id !== +user_id) {
                this.$router.replace({
                    query: {
                        user_id: id,
                    },
                });
                this.targetId = id;
                this.dialogVisible = true;
            }
        },
        handleDelete(id){
            // B1: Send request to delete
            userResource.destroy(id)
                .then(() => {
                    // B2: Remove item from array
                    const index = this.table.list.findIndex(item => item.id === id);
                    if (index >= 0) {
                        this.table.list.splice(index, 1);
                        this.$message({
                            message: 'Deleted successfully!',
                            type: 'success',
                        });
                    }
                })
                .catch(e => {
                    this.$message({
                        message: 'Deleted failed!',
                        type: 'error',
                    });
                });
        },
        handleSearch(){
            this.table.listQuery.page = 1;
            this.getList();
        },
        handleSuccess(){
            this.targetId = null;
            this.dialogVisible = false;
            this.getList();
            const { user_id } = this.$route.query;
            if (user_id) {
                this.$router.replace({
                    query: '',
                });
            }
        },
    },
};
</script>
