<template>
    <div class="form-dialog">
        <div class="form-dialog__inner">
            <el-dialog
                title="Form Role"
                :visible.sync="dialogVisible"
                :width="dialogSize"
                :before-close="onBeforeClose"
                @close="$emit('close')"
            >
                <el-form
                    ref="formRole"
                    :model="form"
                    :rules="formRules"
                    size="normal"
                    label-position="top"
                    >
                    <el-form-item label="Role name" prop="name">
                        <el-input v-model="form.name" placeholder="Nhập tên role" />
                    </el-form-item>
                    <el-form-item label="Role level" prop="level">
                        <el-input-number
                            v-model="form.level"
                            :min="1"
                            :max="99"
                            :step="1"
                            :controls="true"
                            controls-position="both"
                            />
                    </el-form-item>
                    <el-form-item label="Description" prop="description">
                        <el-input v-model="form.description" type="textarea" />
					</el-form-item>

                    <div class="formSection">
                        <table class="table table-bordered">
                            <tr>
                                <th width="150">
                                    <span>Module</span>
                                </th>
                                <th>
                                    <span>Permissions</span>
                                </th>
                            </tr>
                        </table>
                        <table
                            id="table-permission"
                            v-permission-check-all="{
                                role: form,
                                permissionIds: rolePermissions,
                                superAdminId: 1,
                            }"
                            class="table"
                            >
                            <tbody>
                                <tr v-for="module in listModule" :key="module.id">
                                    <td width="150" class="check-button">
                                        <div class="inner input-group">
                                            <label :for="`${ module.id }_${ module.name }`" class="label">
                                                <input
                                                    :id="`${ module.id }_${ module.name }`"
                                                    type="checkbox"
                                                    data-name="module"
                                                    :data-module-id="module.id"
                                                >
                                                <span>{{ module.name }}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td
                                        v-for="permission in module.permissions"
                                        :key="permission.id"
                                        class="permission-item"
                                    >
                                        <div class="inner">
                                            <label :for="`${permission.name}_${permission.id}`" class="label">
                                                <input
                                                    :id="`${permission.name}_${permission.id}`"
                                                    ref="permission"
                                                    type="checkbox"
                                                    data-name="permission"
                                                    :value="permission.id"
                                                    :data-belongs-module-id="module.id"
                                                    :data-permission-id="permission.id"
                                                >
                                                <span>{{ permission.name }}</span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </el-form>

                <span slot="footer">
                    <el-button
                        v-if="!targetId"
                        type="primary"
                        :loading="loading"
                        class="text--uppercase"
                        @click="store('formRole')"
                        >
                        Thêm mới
                    </el-button>
                    <el-button
                        v-else
                        type="primary"
                        :loading="loading"
                        class="text--uppercase"
                        @click="update('formRole')"
                        >
                        Cập nhật
                    </el-button>
                </span>
            </el-dialog>

        </div>
    </div>
</template>

<script>
import RoleResource from '@/http/api/v1/role';
import ModuleResource from '@/http/api/v1/module';
import PermissionCheckAll from '@/directives/permission-check-all';

const roleResource = new RoleResource();
const moduleResource = new ModuleResource();

const defaultForm = {
	name: '',
	level: 1,
	description: '',
	permissions: [],
};

export default {
    name: 'FormRole',
    directives: {
        PermissionCheckAll,
    },
	props: {
		isOpened: {
			type: Boolean,
			default: false,
		},
		targetId: {
			type: Number,
			default: null,
		},
	},
	data: () => ({
		// form: { ...defaultForm },
		form: Object.assign({}, defaultForm),
		loading: false,
		dialogSize: '800px',
		dialogVisible: false,
		errorsServer: [],
        listModule: [],
        rolePermissions: [],
	}),
    computed: {
        formRules() {
            return {
                name: [
                    {
                        required: true,
                        message: 'Please enter the name',
                        trigger: ['change', 'blur'],
                    },
                    {
                        max: 255,
                        message: 'Tối đa 255 kí tự',
                        trigger: ['change', 'blur'],
                    },
                ],
                level: [
                    {
                        required: true,
                        message: 'Please enter the level!',
                        trigger: ['change', 'blur'],
                    },
                ],
            };
        },
    },
    created() {
        this.setup();
    },
    methods: {
        async setup() {
            try {
                const moduleData = await moduleResource.getAll();
                this.listModule = moduleData.data.data;
                if (this.targetId){
                    const { data } = await roleResource.get(this.targetId);
                    this.form = data.data;
                    this.form.permissions = data.data.permissions.map(item => item.id);
                    this.rolePermissions = this.form.permissions;
                }
                this.dialogVisible = true;
            } catch (error) {
                console.log(error.response);
            }
        },
        async store() {
            try {
                this.loading = true;
                this.attachPermissionAndSyncModule();
                await roleResource.store(this.form);
                this.$emit('onSuccess');
                this.loading = false;
            } catch (e) {
                this.loading = false;
            }
        },

        async update() {
            try {
                this.loading = true;
                this.attachPermissionAndSyncModule();
                await roleResource.update(this.form, this.targetId);
                this.$message({
                    message: 'Cập nhật thành công',
                    type: 'success',
                });
                this.$emit('onSuccess');
                this.loading = false;
            } catch (e) {
                this.loading = false;
            }
        },
        onBeforeClose() {
            this.dialogVisible = false;
            this.$emit('onClose');
        },
        attachPermissionAndSyncModule() {
            this.form.permissions = this.$refs.permission.filter($el => $el.checked).map($el => +$el._value);
        },
    },
};
</script>
<style>
    @import "@/styles/comps/form-dialog.css";
</style>

