<template>
	<div class="form-dialog">
		<div class="form-dialog__inner">
			<el-dialog title="Form User" :visible.sync="dialogVisible" :width="dialogSize" :before-close="onBeforeClose" @close="$emit('close')">
				<el-form ref="formUser" :model="form" :rules="formRules" label-position="top">
					<el-form-item label="User name" prop="name">
						<el-input v-model="form.name" placeholder="Nhập tên user" />
					</el-form-item>

                    <el-form-item prop="email" label="User email">
                        <el-input
                            v-model="form.email"
                            type="email"
                            name="email"
                            placeholder="Enter the valid email"
                        />
                    </el-form-item>

                    <el-form-item prop="password" label="User password">
                        <el-input
                            v-model="form.password"
                            type="password"
                            name="password"
                            show-password
                            placeholder="Enter the valid password"
                        />
                    </el-form-item>
                    <el-form-item prop="password_confirmation" label="User password confirmation">
                        <el-input
                            v-model="form.password_confirmation"
                            type="password"
                            name="password_confirmation"
                            show-password
                            placeholder="Enter the valid password confirmation"
                        />
                    </el-form-item>
                    <el-select v-model="form.role_id" filterable placeholder="Select the role">
                        <el-option
                            v-for="role in listRole"
                            :key="role"
                            :label="role.name"
                            :value="role.id"
                        />
                    </el-select>
                    <el-upload
                        action="#"
                        list-type="picture-card"
                        :auto-upload="false"
                    >
                        <i slot="default" class="el-icon-plus"></i>
                        <div slot="file" slot-scope="{file}">
                            <img
                                class="el-upload-list__item-thumbnail"
                                :src="file.url"
                                alt=""
                            >
                            <span class="el-upload-list__item-actions">
                                <span
                                    v-if="!disabled"
                                    class="el-upload-list__item-delete"
                                    @click="handleDownload(file)"
                                >
                                    <i class="el-icon-download"></i>
                                </span>
                                <span
                                    v-if="!disabled"
                                    class="el-upload-list__item-delete"
                                    @click="handleRemove(file)"
                                >
                                    <i class="el-icon-delete"></i>
                                </span>
                            </span>
                        </div>
                    </el-upload>
                    <el-form-item class="d-flex justify-end m-b--0">
						<el-button
							v-if="!targetId"
							:loading="loading"
							type="primary"
							size="small"
							class="text--uppercase"
							@click="store('formUser')"
						>
							Thêm mới
						</el-button>
						<el-button
							v-else
							:loading="loading"
							type="primary"
							size="small"
							class="text--uppercase"
							@click="update('formUser')"
						>
							Cập nhật
						</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
		</div>
	</div>
</template>

<script>
import UserResource from '@/http/api/v1/user';
import RoleResource from '@/http/api/v1/role';

const userResource = new UserResource();
const roleResource = new RoleResource();

const defaultForm = {
    name: '',
    email: '',
    role_id: '',
    password: '',
    password_confirmation: '',
    avatar: '',
};

export default {
    name: 'FormUser',
    props: {
        isOpened: {
            type: Boolean,
            default: false,
        },
        targetId: {
            type: Number,
            default: null,
        },
    },

    data: () => ({
        form: { ...defaultForm },
        loading: false,
        dialogVisible: false,
        dialogSize: '800px',
        listRole: [],
        disabled: false,
    }),
    computed: {
        formRules() {
            return {
                name: [
                    {
                        required: true,
                        message: 'Please enter the name of the user',
                        trigger: ['change', 'blur'],
                    },
                    {
                        max: 255,
                        message: 'Maximium 255 characters allowed',
                        trigger: ['change', 'blur'],
                    },
                ],
                email: [
                    {
                        required: true,
                        message: 'Please enter the email of the user',
                        trigger: ['change', 'blur'],
                    },
                    {
                        type: 'email',
                        message: 'Email',
                        trigger: ['change', 'blur'],
                    },
                ],
            };
        },
    },
    created() {
        this.setup();
    },
    methods: {
        async setup() {
            try {
                const roleData = await roleResource.getAll();
                this.listRole = roleData.data.data;
                if (this.targetId) {
                    const { data } = await userResource.get(this.targetId);
                    this.form = data.data;
                }

                this.dialogVisible = true;
            } catch (error) {
                console.log(error);
            }
        },
        async store() {
            try {
                this.loading = true;
                await userResource.store(this.form);
                this.$emit('onSuccess');
                this.loading = false;
            } catch (e) {
                this.loading = false;
            }
        },
        async update() {
            try {
                this.loading = true;
                await userResource.update(this.form, this.targetId);
                this.$message({
                    message: 'Cập nhật thành công',
                    type: 'success',
                });
                this.$emit('onSuccess');
                this.loading = false;
            } catch (e) {
                this.loading = false;
            }
        },
        onBeforeClose() {
            this.dialogVisible = false;
            this.$emit('onClose');
        },
        handleRemove(file) {
            console.log(file);
        },
        handleDownload(file) {
            console.log(file);
        },
    },
};
</script>

