<template>
  <section class="dashboard-container">
    <section class="dashboard-container__inner">
      <header-nav />
      <sidebar-nav />
      <section class="content-wrapper">
        <div class="content-wrapper__inner">
          <TargetLayout />
        </div>
      </section>
    </section>
  </section>
</template>

<script>
import HeaderNav from './components/header-nav';
import SidebarNav from './components/sidebar-nav';

export default {
    name: 'AdminIndex',
    components: {
      HeaderNav,
      SidebarNav,
    },
};
</script>
<style>
  @import "@/styles/comps/dashboard-layout.css";
</style>
