<script>
export default {
    name: 'MenuItem',
    functional: true,
    props: {
        icon: {
            type: String,
            default: '',
        },
        title: {
            type: String,
            default: '',
        },
    },
    render(h, context) {
        const { icon, title } = context.props;
        const nodes = [];
        const icon_node = '';
        if (icon) {
            nodes.push(
                <i class={icon} style='color: #fff'></i>
            );
        }
        if (title) {
            nodes.push(
                <span class='truncate d-inline-block' slot='title'>
                    { title }
                </span>
            );
        }
        return nodes;
    },
};
</script>
