<template>
    <div class="table-panel">
        <div class="table-panel-inner">
            <div class="table-panel__header">
                <div class="table-panel__header-inner d-flex justify-content-between align-items-center">
                    <div class="left">
                        <h2>{{ titleTable }}</h2>
                    </div>
                    <div class="right">
                        <el-button @click="handleClick">{{ titleButton }}</el-button>
                    </div>
                </div>
            </div>
            <div class="table-panel__content">
                <div class="table-panel__content-top d-flex justify-content-between align-items-center">
                    <div class="left">
                        <slot name="tools" />
                    </div>
                    <div class="right">
                        <slot name="search" />
                    </div>
                </div>
                <div class="table-panel__content-bottom">
                    <slot name="main" />
                </div>
            </div>
            <div class="table-panel__footer">
                <slot name="footer" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TablePanel',
    props: {
        titleTable: {
            type: String,
            default: 'Table',
        },
        titleButton: {
            type: String,
            default: 'Button',
        },
    },
    methods: {
        handleClick() {
            this.$emit('onClick');
        },
    },

};
</script>
