<template>
  <header class="dashboard-header">
      <section class="dashboard-header__logo">
          <router-link to="/" class="dashboard-header__logo-link" exact>
              <span>Blog</span>
          </router-link>
      </section>
      <nav class="dashboard-header__nav">
          <div class="dashboard-header__nav-left">
              <div class="sidebar-toggle header-nav-item"></div>
              <ul class="header-nav">
                    <li>
                        <router-link class="header-nav-item" to="/" exact>
                            <span>Welcome Admin</span>
                        </router-link>
                    </li>
              </ul>
          </div>
          <div class="dashboard-header__nav-right">
                <ul class="header-nav">
                    <li>
                        <div class="header-nav-item">
                        <el-popover
                            placement="bottom"
                            width="200"
                            trigger="click"
                        >
                            <div>Content</div>
                        </el-popover>
                        </div>
                    </li>
                    <li>
                        <div class="header-nav-item">
                        <el-popover
                            placement="bottom"
                            width="200"
                            trigger="click"
                        >
                            <div>Content</div>
                        </el-popover>
                        </div>
                    </li>
                    <li>
                        <router-link class="header-nav-item d-flex align-center" to="/" exact>
                        <el-avatar class="m-r--5" size="small" icon="el-icon-user-solid"></el-avatar>
                        <span>Profile</span>
                        </router-link>
                    </li>
                    <li>
                        <a href="javascript:;" class="header-nav-item d-flex align-center" @click="logout">
                        <span>Logout</span>
                        </a>
                    </li>
                </ul>
          </div>
      </nav>
  </header>
</template>

<script>
import AuthResource from '@/http/api/v1/auth';
const authResource = new AuthResource();
export default {
    name: 'HeaderNav',
    methods: {
        logout() {
            authResource.logout()
                .then(() => {
                    this.$router.push({ name: 'auth.login' });
                    this.$store.dispatch('auth/resetAuth');
                    this.$message({
                        message: 'Logout successfully!',
                        type: 'success',
                    });
                })
                .catch(e => {
                    console.log(e.response);
                });
        },
    },
};
</script>
