<template>
  <div class="table-wrapper">
      <table-panel
        title-table="ROLES"
        title-button="ADD ROLE"
        @onClick="openModal"
      >
        <template slot="tools">
            <el-button>PDF</el-button>
            <el-button>EXCEL</el-button>
        </template>

        <template slot="search">
            <el-form @submit.native.prevent="handleSearch">
                <el-input
                    v-model="table.listQuery.search"
                    placeholder="Search ..."
                />
            </el-form>
        </template>

        <template slot="main">
            <hr style="border-color: #F5F7FA;">
            <el-table
                v-loading="table.loading"
                :data="table.list"
                border
            >
                <el-table-column align="center" header-align="center" label="STT" type="index" width="50"></el-table-column>

                <el-table-column align="center" header-align="center" label="Name">
                    <template slot-scope="{ row }">
                        <div class="title">{{ row.name }}</div>
                    </template>
                </el-table-column>

                <el-table-column align="center" header-align="center" label="Description" width="300">
                    <template slot-scope="{ row }">
                        <div class="title">{{ row.description }}</div>
                    </template>
                </el-table-column>

                <el-table-column align="center" header-align="center" label="Users" width="80">
                    <template slot-scope="{ row }">
                        <el-tag>{{ row.users_count }}</el-tag>
                    </template>
                </el-table-column>

                <el-table-column align="center" header-align="center" label="Role level" width="100">
                    <template slot-scope="{ row }">
                        <div class="title">{{ row.level }}</div>
                    </template>
                </el-table-column>
                <el-table-column align="center" header-align="center" label="Actions" width="150">
                    <template slot-scope="{ row }">
                        <el-button type="danger" size="mini" icon="el-icon-delete" @click="handleDelete(row.id)"></el-button>
                        <el-button type="primary" size="mini" icon="el-icon-refresh" @click="handleUpdate(row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>

        <template slot="footer">
            <pagination
                v-if="table.total > 0"
                :total="table.total"
                :page.sync="table.listQuery.page"
                :limit.sync="table.listQuery.limit"
                @pagination="getList"
            >
            </pagination>
        </template>
      </table-panel>
      <form-role
        v-if="dialogVisible"
        :is-opened="dialogVisible"
        :target-id="targetId"
        @onSuccess="handleSuccess"
        @onClose="dialogVisible = false"
        @onOpen="dialogVisible = true"
      />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination';
import TablePanel from '@/components/TablePanel';
import RoleResource from '@/http/api/v1/role';
import FormRole from './components/Form';

const roleResource = new RoleResource();

export default {
    name: 'RoleIndex',
    components: {
        TablePanel,
        Pagination,
        FormRole,
    },
    layout: 'admin',
    middleware: 'auth',
    data: () => ({
        table: {
            listQuery: {
                search: '',
                limit: 10,
                page: 1,
            },
            list: [],
            total: 0,
            loading: false,
        },
        dialogVisible: false,
        targetId: null,
    }),
    created() {
        const { role_id } = this.$route.query;
        if (role_id) {
            this.targetId = +role_id;
            this.dialogVisible = true;
        }
        this.getList();
    },
    methods: {
        async getList() {
            this.table.loading = true;
            try {
                const { data: { data, count }} = await roleResource.list(this.table.listQuery);
                this.table.list = data;
                this.table.total = count;
                this.table.loading = false;
            } catch (error) {
                this.table.loading = false;
                console.log(error);
            }
        },

        handleDelete(id) {
            // B1: Send request to delete
            roleResource.destroy(id)
                .then(() => {
                    // B2: Remove item from array
                    const index = this.table.list.findIndex(item => item.id === id);
                    if (index >= 0) {
                        this.table.list.splice(index, 1);
                        this.$message({
                            message: 'Deleted successfully!',
                            type: 'success',
                        });
                    }
                })
                .catch(e => {
                    this.$message({
                        message: 'Deleted failed!',
                        type: 'error',
                    });
                });
        },

        handleUpdate(id) {
            const { role_id } = this.$route.query;
            if (+id !== +role_id) {
                this.$router.replace({
                    query: {
                        role_id: id,
                    },
                });
                this.targetId = id;
                this.dialogVisible = true;
            }
        },

        handleSearch() {
            this.table.listQuery.page = 1;
            this.getList();
        },
        openModal() {
             this.targetId = null;
            const { role_id } = this.$route.query;
            if (role_id) {
                this.$router.replace({
                    query: '',
                });
            }
            this.dialogVisible = true;
        },
        handleSuccess() {
            this.targetId = null;
            this.dialogVisible = false;
            this.getList();
            const { role_id } = this.$route.query;
            if (role_id) {
                this.$router.replace({
                    query: '',
                });
            }
            this.$message({
                message: 'Add role successfully!',
                type: 'success',
            });
        },
    },
};
</script>
