<template>
    <div class="auth-workspace">
        <div class="auth-inner">
            <div class="auth-workspace__header text-center">
                <h1>Blog Management</h1>
            </div>
            <div class="auth-workspace__body">
                <TargetLayout />
            </div>
            <div class="auth-workspace__footer">
                <ul class="d-flex align-items-center justify-content-center">
                    <li class="px-3">
                        <router-link to="/">Privacy</router-link>
                    </li>
                    <li class="px-3">
                        <router-link to="/">User Notice</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AuthIndex',
};
</script>

<style>
@import "@/styles/comps/layout-auth.css";
</style>
