<template>
    <div class="auth page-login">
        <el-form
            ref="formLogin"
            :model="form"
            :rules="rules"
        >
            <el-form-item prop="email">
                <el-input
                    v-model="form.email"
                    type="email"
                    name="email"
                    placeholder="Enter the valid email"
                    @keyup.enter.native="onLogin"
                />
            </el-form-item>

            <el-form-item prop="password">
                <el-input
                    v-model="form.password"
                    type="password"
                    name="password"
                    show-password
                    placeholder="Enter the valid password"
                    @keyup.enter.native="onLogin"
                />
            </el-form-item>

            <el-form-item>
                <el-checkbox v-model="form.remember_me">Remember me</el-checkbox>
            </el-form-item>

            <div
                :style="{
                    marginBottom: '10px'
                }"
            >
                <router-link :to="{ name: 'auth.reset-password' }">
                    Forgot password!
                </router-link>
            </div>

            <el-button
                type="primary"
                :loading="loading"
                @click.prevent="onLogin"
            >
                <span>Login</span>
            </el-button>
        </el-form>
    </div>
</template>

<script>
import { validPassword } from '@/utils/validate';
import AuthResource from '@/http/api/v1/auth';
import { mapActions } from 'vuex';

const authResource = new AuthResource();

const defaultForm = {
    email: 'phamdinhhung28.it@gmail.com',
    password: 'Blog@12345',
    remember_me: false,
};

export default {
    name: 'LoginIndex',
    layout: 'auth',
    middleware: 'guest',
    data: () => ({
        form: Object.assign({}, defaultForm),
        loading: false,
    }),
    computed: {
        rules() {
            return {
                email: [
                    {
                        required: true,
                        message: 'Please enter the email!',
                        trigger: ['blur', 'change'],
                    },
                    {
                        type: 'email',
                        message: 'Your email is invalid!',
                        trigger: ['blur', 'change'],
                    },
                ],
                password: [
                    {
                        required: true,
                        message: 'Please enter the password!',
                        trigger: ['blur', 'change'],
                    },
                    {
                        validator: (rule, value, callback) => {
                            if (!validPassword(value)) {
                                callback(new Error('Your password is invalid!'));
                            } else {
                                callback();
                            }
                        },
                    },
                ],
            };
        },
    },
    methods: {
        ...mapActions({
            setToken: 'auth/setToken',
            setUserAuth: 'auth/setUser',
        }),
        onLogin() {
            // this.loading = true;
            // const { data: { data }} = await authResource.login(this.form);
            // const accessTokenRes = data;
            // const userAuth = await authResource.getUserAuth();
            // console.log(data);
            // console.log(userAuth);
            // this.setToken(data);
            // this.setUserAuth(userAuth.data.data);
            // this.$router.push({ name: 'admin.dashboard.index' });
            // this.loading = false;

            authResource.login(this.form)
                .then(({ data: { data }}) => {
                    this.setToken(data);
                    authResource.getUserAuth()
                        .then(res => {
                            this.setUserAuth(res.data.data);
                        })
                        .catch();
                    this.$router.push({ name: 'admin.dashboard.index' });
                    this.loading = false;
                    this.$message({
                        message: 'Đăng nhập thành công',
                        type: 'success',
                    });
                })
                .catch(() => {
                    this.loading = false;
                });
        },
    },
};
</script>
