<template>
    <div class="auth page-resetPasswordForm">
        <el-form
            ref="formLogin"
            :model="form"
        >
            <el-form-item prop="password">
              <el-input
                v-model="form.password"
                type="password"
                name="password"
                show-password
                placeholder="Nhập mật khẩu mới"
                @keyup.enter.native="onSubmit"
              />
            </el-form-item>

            <div class="auth-action__submit">
              <el-button
                type="primary"
                class="full-size--btn"
                :loading="loading"
                @click.prevent="onSubmit"
              >
                <span>Đặt lại mật khẩu</span>
              </el-button>
            </div>
        </el-form>
    </div>
</template>

<script>
import AuthResource from '@/http/api/v1/auth';

const authResource = new AuthResource();

export default {
    name: 'ResetPasswordFormIndex',
    layout: 'auth',
    data() {
        return {
            form: {
                token: this.$route.params.token,
                password: '',
            },
            loading: false,
        };
    },
    methods: {
        onSubmit() {
            this.loading = true;
            authResource.resetPassword(this.form)
                .then(({ data: { message }}) => {
                    this.loading = false;
                    this.$message({
                        message: message,
                        type: 'success',
                    });
                    this.$router.push({ name: 'auth.login' });
                })
                .catch(() => {
                    this.loading = false;
                });
        },
    },
};
</script>
