<template>
    <div class="auth page-verifyEmailForm">
        <h2 v-if="isSent">
            Chúng tôi đã gửi cho bạn một email đặt lại password, bạn vui lòng check email!
        </h2>
        <el-form
            v-else
            ref="formLogin"
            :model="form"
            :rules="rules"
        >
            <el-form-item prop="email">
                <el-input
                    v-model="form.email"
                    type="email"
                    name="email"
                    placeholder="Enter the valid email"
                    @keyup.enter.native="onLogin"
                />
            </el-form-item>

            <el-button
                type="primary"
                :loading="loading"
                @click.prevent="onSubmit"
            >
                <span>Send mail to reset password!</span>
            </el-button>
        </el-form>
    </div>
</template>

<script>
import AuthResource from '@/http/api/v1/auth';

const authResource = new AuthResource();

const defaultForm = {
    email: 'phamdinhhung28.it@gmail.com',
};

export default {
    name: 'VerifyEmailFormIndex',
    layout: 'auth',
    data: () => ({
        form: Object.assign({}, defaultForm),
        loading: false,
        isSent: false,
    }),
    computed: {
        rules() {
            return {
                email: [
                    {
                        required: true,
                        message: 'Please enter the email!',
                        trigger: ['blur', 'change'],
                    },
                    {
                        type: 'email',
                        message: 'Your email is invalid!',
                        trigger: ['blur', 'change'],
                    },
                ],
            };
        },
    },
    methods: {
        onSubmit() {
            this.loading = true;
            authResource.verifyEmailResetPassword(this.form)
                .then(({ data: { message }}) => {
                    this.loading = false;
                    this.isSent = true;
                    this.$message({
                        message: message,
                        type: 'success',
                    });
                })
                .catch(() => {
                    this.loading = false;
                });
        },
    },
};
</script>
